// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// icons
@import "bootstrap-icons/font/bootstrap-icons.css";

.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Jarak antara tombol */
}

.button-container form {
    margin: 0; /* Menghapus margin default pada form */
}


